@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registro de Chamadas</h1>
    <p>Contato: <a href="https://github.com/RobsonBasseto">GitHub</a></p>
</div>
